body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #f4f6f9;
}
header {
	height: 50px;
	background-color: #fff;
	position: absolute;
	top: 0;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}
header .logo {
	flex-grow: 1;
	flex: 0 300px;
	line-height: 50px;
	text-align: center;
}
header nav {
	flex: 1 auto;
	line-height: 50px;
}
header nav a {
	margin-right: 25px;
}
aside {
	width: 400px;
	background-color: #fff;
	padding: 20px 15px;
	position: absolute;
	top: 66px;
	left: 15px;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.55);
	& input {
		width: 100%;
		border: 1px solid #ddd;
		height: 40px;
		border-radius: 3px;
		outline: none;
		padding: 10px;
		font-size: 16px;
		color: #333;
		transition: border 200ms ease;
		&:focus {
			border-color: #44A4FF;
		}
	}
	.autocomplete {
		position: absolute;
		top: 61px;
		width: 370px;
	}
}
.autocomplete {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	box-shadow: 3px 5px 20px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	width: 100%;
	z-index: 2;
	.item {
		height: 50px;
		border-bottom: 1px solid #e2e2e2;
		cursor: pointer;
		padding: 7px 15px;
		line-height: 18px;
		padding-left: 50px;
		background-image: url('../img/map-marker.png');
		background-position: left 13px center;
		background-repeat: no-repeat;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: #f3f9ff;
		}
		&:active {
			background-color: #e9f3fd;
		}

		.main-text {
			font-size: 16px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.secondary-text {
			font-size: 13px;
			color: #929292;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
	}
}

section {
	width: 400px;
	background-color: #fff;
	padding: 20px 15px;
	position: absolute;
	top: 162px;
	left: 15px;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.55);
	.item {
		height: 50px;
		cursor: pointer;
		padding: 7px 15px;
		line-height: 18px;
		padding-left: 50px;
		background-image: url('../img/map-marker.png');
		background-position: left 13px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: #f3f9ff;
			background-image: url('../img/drag.png');
		}
		&:active {
			background-color: #e9f3fd;
		}

		.main-text {
			font-size: 16px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.secondary-text {
			font-size: 13px;
			color: #929292;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
	}
}

#map {
	width: 100vw;
	height: 100vh;
}