body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #f4f6f9;
}
header {
	height: 50px;
	background-color: #fff;
	position: absolute;
	top: 0;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}
header .logo {
	flex-grow: 1;
	flex: 0 300px;
	line-height: 50px;
	text-align: center;
}
header nav {
	flex: 1 auto;
	line-height: 50px;
}
header nav a {
	margin-right: 25px;
}
aside {
	width: 400px;
	background-color: #fff;
	padding: 15px;
	position: absolute;
	top: 66px;
	left: 15px;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.55);
	& input[type=text] {
		width: 100%;
		border: 1px solid #ddd;
		height: 40px;
		border-radius: 3px;
		outline: none;
		padding: 10px;
		font-size: 16px;
		color: #333;
		transition: border 200ms ease;
		&:focus {
			border-color: #44A4FF;
		}
	}
	.autocomplete {
		position: absolute;
		top: 61px;
		width: 370px;
	}
}
.autocomplete {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	box-shadow: 3px 5px 20px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	width: 100%;
	z-index: 2;
	.item {
		height: 50px;
		border-bottom: 1px solid #e2e2e2;
		cursor: pointer;
		padding: 7px 15px;
		line-height: 18px;
		padding-left: 50px;
		background-image: url('../img/map-marker.png');
		background-position: left 13px center;
		background-repeat: no-repeat;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: #f3f9ff;
		}
		&:active {
			background-color: #e9f3fd;
		}

		.main-text {
			font-size: 16px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.secondary-text {
			font-size: 13px;
			color: #929292;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
	}
}

section {
	width: 400px;
	background-color: #fff;
	padding: 15px;
	position: absolute;
	top: 190px;
	left: 15px;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.55);
	.empty-message {
		font-size: 24px;
		display: block;
		text-align: center;
		margin: 15px 0;
		color: #6c6c6c;
	}
	.item {
		height: 50px;
		cursor: pointer;
		padding: 7px 15px;
		line-height: 18px;
		padding-left: 50px;
		background-image: url('../img/map-marker.png');
		background-position: left 13px center;
		background-repeat: no-repeat;
		position: relative;
		&:hover {
			background-color: #f3f9ff;
			background-image: url('../img/drag.png');
		}
		&:active {
			background-color: #e9f3fd;
		}
		&:hover .remove-btn {
			display: block;
			&:hover {
				background-color: #daeafb;
			}
			&:active {
				background-color: #c9e0f9;
			}
		}

		.remove-btn {
			display: none;
			width: 50px;
			height: 50px;
			background-color: #e8f3ff;
			background-image: url('../img/delete.png');
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
		}
		.main-text {
			font-size: 16px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.secondary-text {
			font-size: 13px;
			color: #929292;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
	}
}

#map {
	width: 100vw;
	height: 100vh;
}
input[type="checkbox"].switcher {
	position: absolute;
	width: 0;
}
input[type="checkbox"].switcher + label {
	position: relative;
	padding: 5px 0 0 50px;
	line-height: 15px;
}
input[type="checkbox"].switcher + label:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 40px; /* x*5 */
	height: 24px; /* x*3 */
	border-radius: 16px; /* x*2 */
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
input[type="checkbox"].switcher + label:after {
	content: "";
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 24px; /* x*3 */
	height: 24px; /* x*3 */
	border-radius: 16px; /* x*2 */
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
input[type="checkbox"].switcher + label:hover:after {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].switcher:checked + label:after {
	margin-left: 16px;
}
input[type="checkbox"].switcher:checked + label:before {
	background: #44A4FF;
}
.checkbox-wrapper {
	height: 24px;
	margin: 15px 0 0 0;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	float: left;
}
.checkbox-wrapper label {
	cursor: pointer;
}
.checkbox-wrapper .left-label {
	margin-right: 10px;
}
.theme-checkbox {
	float: right;
	margin-top: 17px;
}
.ant-checkbox-inner {
	top: -1px;
}